
<div class="jumbotron center">
	<h1>Feeling lost?</h1>
	<% if user_signed_in? %>
		<img src="https://download.unsplash.com/45/eDLHCtzRR0yfFtU0BQar_sylwiabartyzel_themap.jpg" alt="hands holding a paper roadmap" width="80%">
		<p>Time to get back to basics</p>
		<% else %>
			<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
			</p>
		<% end %>
</div> <!-- .container -->