<div class="jumbotron center">
	<h1>Like No Tomorrow</h1>
	<% if user_signed_in? %>
	<img src="https://download.unsplash.com/uploads/1413395496082cbc91228/43e39040" alt="young woman facing sunset" width="80%">
	<p>Take time to enjoy <em>today</em></p>
	<% else %>
		<p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	<% end %>

</div>